body {
    padding: 50px;
}

header {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: 'PT Serif', serif;
}

.intro {
    font-family: 'Poppins'
}

.intro h3 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.intro p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.member1 {
    display: flex;
}

.member1-intro img {
    width: 50%;
    border-radius: 10px;

}

.post {
    transform: rotate(90deg);

}